html {
  margin: 0;
  padding: 0;
  background: #000;
}
body {
  font-family: sans-serif;
}

#app {
  width: 800px;
  height: 450px;
  border: solid 2px #d35a03;
}

#ball {
  position: absolute;
  left: 400px;
  top: 225px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
}

#display {
  display: flex;
  width: 800px;
  height: 50px;
  margin-top: 3px;
  border: thick double #d35a03;
}

.data {
  display: flex;
  flex: 1;
  border: thin solid white;
  align-items: center;
  justify-content: center;
  color: white;
}