html {
  margin: 0;
  padding: 0;
  background: #000;
  cursor: none;
}
body {
  font-family: sans-serif;
}

#app {
  width: 800px;
  height: 450px;
  border: thick double #d35a03;
}

#player1 {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 10px;
  height: 100px;
  background: white;
}

#display {
  display: flex;
  width: 800px;
  height: 50px;
  margin-top: 3px;
  border: thick double #d35a03;
}

.data {
  display: flex;
  flex: 1;
  border: thin solid white;
  align-items: center;
  justify-content: center;
  color: white;
}